.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container {
    height: 150px;
    width: 300px;
    background-color: rgb(255, 170, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px black solid;
    margin: 5px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}